@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Sacamos todos los margenes y padding para limpiar todo y empezar a pner estilos*/

body {  /*aplica atodo el body -->  */
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    line-height: 1.5; /*--salto de linea de 1,5 -->*/
}

header {/*barra de lavegacion de arriba, el encabezado- -->  */
    background-color: #091437;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 { /* aplica SOLO para el titulo de la web, por eso HEADER H1  */
    font-size: 2em;
    padding : 10px 0;
    
}

/*fui jugando con los estilos  de los dif elementos*/